@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body{
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ffcbc4 ;
    text-decoration: none;
    font-weight: 800 ;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline;
    font-size: 18px;
    color: #9bb67f;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active{
    color: #f4c2c2;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
 .main h2{
    position: relative;
    margin: 40px 0;
    color: #f4c2c2;
 }
.profile-card{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    transition: .6s;
    box-shadow: 0 0 22px #f4c2c2;
    transition: .6s;
    margin: 0 25px;
}

.profile-card:hover{
    border-radius: 10px;
    height: 280px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}
 .profile-card:hover .img{
    transform: translateY(-60px);
 }
.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover img{
    border-radius: 10px;
    transition: .6s;
}

.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption{
    opacity: 1;
}

.caption h3{
    font-size: 15.5px;

}

.caption p{
    font-size: 12px;
    color: #bb7d7d;
    margin: 2px 0 0;
    transition: .6s;
}
